.card{
    background-color:#2a1931 !important;
    border-radius:15px;
    height: 200px; ;
    
}

.photo{
    width: 20px;
    height: 20px;
}

.container{
    background-image: url(../Image/sky.jpg);
    position: relative;
    background-size: auto;
    background-size: cover;
}